<!-- footer -->
<table data-group="Footers" data-module="Footer 1" border="0" width="100%" align="center" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 100%">
  <tbody>
    <tr>
      <td data-bgcolor="Body Bgcolor" align="center" valign="middle" bgcolor="#F1F1F1" style="background-color: #f1f1f1">
        <table border="0" width="600" align="center" cellpadding="0" cellspacing="0" class="row" style="width: 600px; max-width: 600px">
          <tbody>
            <tr>
              <td data-bgcolor="Bgcolor" align="center" bgcolor="#F1F1F1" style="background-color: #f1f1f1">
                <table width="520" border="0" cellpadding="0" cellspacing="0" align="center" class="row" style="width: 520px; max-width: 520px">
                  <tbody>
                    <tr>
                      <td align="center" class="container-padding">
                        <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width: 100%; max-width: 100%">
                          <tbody>
                            <tr>
                              <td data-resizable-height style="
                                  font-size: 40px;
                                  height: 40px;
                                  line-height: 40px;
                                " class="spacer-first ui-resizable">
                                &nbsp;
                                <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90"></div>
                              </td>
                            </tr>
                            <tr>
                              <td align="center" valign="middle" style="padding: 0; padding-bottom: 20px">
                                <table data-social="sms4" cellpadding="0" cellspacing="0" align="center" class="center-float" style="
                                    border: 0;
                                    border-collapse: collapse;
                                    border-spacing: 0;
                                  ">
                                  <tbody>
                                    <tr>
                                      <td data-social-media="linkedin" align="center" width="55">
                                        <a href="https://linkedin.com/company/yeerlo" style="text-decoration: none"><img src="https://res.cloudinary.com/dejo7ucms/image/upload/v1656179174/Yeerlo/Email%20Template%20Images/linkedin_zg7zra.png" alt="Social" width="45" style="
                                              -ms-interpolation-mode: bicubic;
                                              display: inline-block !important;
                                              height: auto;
                                              outline: none;
                                              text-decoration: none;
                                              width: 45px;
                                            "></a>
                                      </td>
                                      <td data-social-media="instagram" align="center" width="55">
                                        <a href="https://instagram.com/yee_rlo" style="text-decoration: none"><img src="https://res.cloudinary.com/dejo7ucms/image/upload/v1656179175/Yeerlo/Email%20Template%20Images/instagram_ulqe3w.png" alt="Social" width="45" style="
                                              -ms-interpolation-mode: bicubic;
                                              display: inline-block !important;
                                              height: auto;
                                              outline: none;
                                              text-decoration: none;
                                              width: 45px;
                                            "></a>
                                      </td>
                                      <td data-social-media="twitter" align="center" width="55">
                                        <a href="https://x.com/yeerlo" style="text-decoration: none"><img src="https://storage.yeerlo.com/logos/x.png" alt="Social" width="35" style="
                                              -ms-interpolation-mode: bicubic;
                                              display: inline-block !important;
                                              height: auto;
                                              outline: none;
                                              text-decoration: none;
                                              width: 35px;
                                              height: 35px;
                                            "></a>
                                      </td>
                                      <td data-social-media="facebook" align="center" width="55">
                                        <a href="https://facebook.com/yeerloticket" style="text-decoration: none"><img src="https://res.cloudinary.com/dejo7ucms/image/upload/v1656179174/Yeerlo/Email%20Template%20Images/facebook_ovo1il.png" alt="Social" width="45" style="
                                              -ms-interpolation-mode: bicubic;
                                              display: inline-block !important;
                                              height: auto;
                                              outline: none;
                                              text-decoration: none;
                                              width: 45px;
                                            "></a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td data-text="Footer Description" data-font="Primary" align="center" valign="middle" class="br-mobile-none" style="
                                  font-family: 'Poppins', sans-serif;
                                  color: #595959;
                                  font-size: 14px;
                                  line-height: 24px;
                                  font-weight: 400;
                                  letter-spacing: 0px;
                                  padding: 0;
                                  padding-bottom: 20px;
                                " data-gramm="false">Connect With CryptoDemo</td>
                            </tr>
                          <tr>
                              <td align="center" valign="middle">
                                  <a href="https://yeerlo.com" style="text-decoration: none; border: 0px"><img data-image="Footer Logo" src="https://pub-e2d9929e46e1478b844cf73ec6d50278.r2.dev/logo.png" width="40" border="0" alt="logo" style="
                                      /* width: 40px; */
                                      height: 50px;
                                      width: 50px;
                                      border: 0px;
                                      display: inline !important;
                                      "></a>
                              </td>
                          </tr>
                          <tr>
                              <td data-text="Footer Links" data-font="Primary" align="center" valign="middle" class="center-text" style="
                                  font-family: 'Poppins', sans-serif;
                                  color: #595959;
                                  font-size: 14px;
                                  line-height: 24px;
                                  font-weight: 400;
                                  padding-top: 1rem;
                                  letter-spacing: 0px;
                                  padding-bottom: 30px;
                                " data-gramm="false">
                                  © %current_year% CryptoDemo. All&nbsp;Rights&nbsp;Reserved.
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
</center>
</div>
</body>
</html>