<html>
  <body>

<div data-template-type="html" class="ui-sortable">
<center>
  <table data-group="Navigations" data-module="Navigation 1" border="0" width="100%" align="center" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 100%">
    <tbody>
      <tr>
        <td data-bgcolor="Outer Bgcolor" align="center" valign="middle" bgcolor="#F1F1F1" style="background-color: #f1f1f1">
          <table border="0" width="600" align="center" cellpadding="0" cellspacing="0" class="row" style="width: 600px; max-width: 600px">
            <tbody>
              <tr>
                <td data-bgcolor="Inner Bgcolor" align="center" bgcolor="#000" style="background-color: #000">
                  <table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="row" style="width: 520px; max-width: 520px">
                    <tbody>
                      <tr>
                        <td align="center" class="container-padding">
                          <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width: 100%; max-width: 100%">
                            <tbody>
                              <tr>
                                <td data-resizable-height style="
                                    font-size: 60px;
                                    height: 60px;
                                    line-height: 60px;
                                  " class="spacer-first ui-resizable">
                                  &nbsp;
                                  <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90"></div>
                                </td>
                              </tr>
                              <tr>
                                <td height="45" align="center" valign="middle" class="autoheight">
                                  <a href="https://yeerlo.com" style="text-decoration: none; border: 0px"><img src="https://pub-e2d9929e46e1478b844cf73ec6d50278.r2.dev/logo.png" width="130" border="0" style="
                                        /* width: 200px; */
                                        height: 50px;
                                        width: 50px;
                                        border: 0px;
                                        display: inline-block !important;
                                      "></a>
                                </td>
                              </tr>
                              <tr>
                                <td data-resizable-height style="
                                    font-size: 30px;
                                    height: 30px;
                                    line-height: 30px;
                                  " class="ui-resizable">
                                  &nbsp;
                                  <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90"></div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <table data-group="Titles" data-module="Title 2" border="0" width="100%" align="center" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 100%">
    <tbody>
      <tr>
        <td data-bgcolor="Outer Bgcolor" align="center" valign="middle" bgcolor="#F1F1F1" style="background-color: #f1f1f1">
          <table border="0" width="600" align="center" cellpadding="0" cellspacing="0" class="row" style="width: 600px; max-width: 600px">
            <tbody>
              <tr>
                <td data-bgcolor="Inner Bgcolor" align="center" bgcolor="#000" style="background-color: #000">
                  <table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="row" style="width: 520px; max-width: 520px">
                    <tbody>
                      <tr>
                        <td align="center" class="container-padding">
                          <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width: 100%; max-width: 100%">
                            <tbody>
                              <tr>
                                <td data-resizable-height style="
                                    font-size: 30px;
                                    height: 30px;
                                    line-height: 30px;
                                  " class="spacer-first ui-resizable">
                                  &nbsp;
                                  <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90"></div>
                                </td>
                              </tr>
                              <tr>
                                <td data-text="Header Title" data-font="Primary" align="center" valign="middle" class="br-mobile-none" style="
                                    font-family: 'Poppins', sans-serif;
                                    color: #ffffff;
                                    font-size: 38px;
                                    line-height: 48px;
                                    font-weight: 400;
                                    letter-spacing: 0px;
                                  " data-gramm="false">
                                  %title%
                                </td>
                              </tr>
                              <tr>
                                <td data-resizable-height style="
                                    font-size: 15px;
                                    height: 15px;
                                    line-height: 15px;
                                  " class="ui-resizable">
                                  &nbsp;
                                  <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90"></div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <table data-group="Headers" data-module="Header 1" border="0" width="100%" align="center" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 100%">
    <tbody>
      <tr>
        <td data-bgcolor="Outer Bgcolor" align="center" valign="middle" bgcolor="#F1F1F1" style="background-color: #f1f1f1">
          <table border="0" width="600" align="center" cellpadding="0" cellspacing="0" class="row" style="width: 600px; max-width: 600px">
            <tbody>
              <tr>
                <td data-bgcolor="Inner Bgcolor" align="center" bgcolor="#000" style="background-color: #000">
                  <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width: 100%; max-width: 100%">
                    <tbody>
                      <tr>
                        <td align="center">
                          <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width: 100%; max-width: 100%">
                            <tbody>
                              <tr>
                                <td align="center" valign="middle" class="img-responsive">
                                  <img data-image="Hero Img" src="https://res.cloudinary.com/dejo7ucms/image/upload/v1660614749/Yeerlo/Email%20Template%20Images/delivered_fkz580.png" border="0" width="600" alt="Header" style="
                                      display: inline-block !important;
                                      border: 0;
                                      width: 600px;
                                      max-width: 600px;
                                    ">
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <table data-group="Contents" data-module="Content 11" border="0" width="100%" align="center" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 100%">
    <tbody>
      <tr>
        <td data-bgcolor="Outer Bgcolor" align="center" valign="middle" bgcolor="#F1F1F1" style="background-color: #f1f1f1">
          <table border="0" width="600" align="center" cellpadding="0" cellspacing="0" class="row" style="width: 600px; max-width: 600px">
            <tbody>
              <tr>
                <td data-bgcolor="Inner Bgcolor" align="center" bgcolor="#FFFFFF" style="background-color: #ffffff">
                  <table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="row" style="width: 520px; max-width: 520px">
                    <tbody>
                      <tr>
                        <td align="center" class="container-padding">
                          <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width: 100%; max-width: 100%">
                            <tbody>
                              <tr>
                                <td data-resizable-height style="
                                    font-size: 30px;
                                    height: 30px;
                                    line-height: 30px;
                                  " class="spacer-first ui-resizable">
                                  &nbsp;
                                  <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90"></div>
                                </td>
                              </tr>
                              <tr>
                                <td data-text="Title" data-font="Primary" align="left" valign="middle" style="
                                    font-family: 'Poppins', sans-serif;
                                    color: #191919;
                                    font-size: 18px;
                                    line-height: 28px;
                                    font-weight: 600;
                                    letter-spacing: 0px;
                                    padding: 0px;
                                    padding-bottom: 20px;
                                  " data-gramm="false">
                                  Hi %name%,
                                </td>
                              </tr>
                              <tr>
                                <td data-text="Description" data-font="Primary" align="left" valign="middle" style="
                                    font-family: 'Poppins', sans-serif;
                                    color: #595959;
                                    font-size: 16px;
                                    line-height: 26px;
                                    font-weight: 400;
                                    letter-spacing: 0px;
                                    padding: 0px;
                                    padding-bottom: 40px;
                                  " data-gramm="false">
                                  %message%
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <table data-group="Dividers" data-module="Divider 1" border="0" width="100%" align="center" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 100%">
    <tbody>
      <tr>
        <td data-bgcolor="Outer Bgcolor" align="center" valign="middle" bgcolor="#F1F1F1" style="background-color: #f1f1f1">
          <table border="0" width="600" align="center" cellpadding="0" cellspacing="0" class="row" style="width: 600px; max-width: 600px">
            <tbody>
              <tr>
                <td data-bgcolor="Inner Bgcolor" align="center" bgcolor="#FFFFFF" style="background-color: #ffffff">
                  <table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="row" style="width: 520px; max-width: 520px">
                    <tbody>
                      <tr>
                        <td align="center" class="container-padding">
                          <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width: 100%; max-width: 100%">
                            <tbody>
                              <tr>
                                <td data-resizable-height style="
                                    font-size: 15px;
                                    height: 15px;
                                    line-height: 15px;
                                  " class="spacer-first ui-resizable">
                                  &nbsp;
                                  <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90"></div>
                                </td>
                              </tr>
                              <tr>
                                <td data-shape-divider="Divider" style="
                                    background-color: #f1f1f1;
                                    font-size: 1px;
                                    height: 1px;
                                    line-height: 1px;
                                  ">
                                  &nbsp;
                                </td>
                              </tr>
                              <tr>
                                <td data-resizable-height style="
                                    font-size: 15px;
                                    height: 15px;
                                    line-height: 15px;
                                  " class="ui-resizable">
                                  &nbsp;
                                  <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90"></div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <table data-group="Contents" data-module="Content 10" border="0" width="100%" align="center" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 100%">
    <tbody>
      <tr>
        <td data-bgcolor="Outer Bgcolor" align="center" valign="middle" bgcolor="#F1F1F1" style="background-color: #f1f1f1">
          <table border="0" width="600" align="center" cellpadding="0" cellspacing="0" class="row" style="width: 600px; max-width: 600px">
            <tbody>
              <tr>
                <td data-bgcolor="Inner Bgcolor" align="center" bgcolor="#FFFFFF" style="background-color: #ffffff">
                  <table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="row" style="width: 520px; max-width: 520px">
                    <tbody>
                      <tr>
                        <td align="center" class="container-padding">
                          <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width: 100%; max-width: 100%">
                            <tbody>
                              <tr>
                                <td data-resizable-height style="
                                    font-size: 15px;
                                    height: 15px;
                                    line-height: 15px;
                                  " class="spacer-first ui-resizable">
                                  &nbsp;
                                  <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90"></div>
                                </td>
                              </tr>
                              <tr>
                                <td data-text="Description" data-font="Primary" align="left" valign="middle" style="
                                    font-family: 'Poppins', sans-serif;
                                    color: #595959;
                                    font-size: 16px;
                                    line-height: 26px;
                                    font-weight: 400;
                                    letter-spacing: 0px;
                                  " data-gramm="false">
                                  You’re receiving this email because you are a member of the CryptoDemo ecosystem.
                                </td>
                              </tr>
                              <tr>
                                <td data-resizable-height style="
                                    font-size: 30px;
                                    height: 30px;
                                    line-height: 30px;
                                  " class="ui-resizable">
                                  &nbsp;
                                  <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90"></div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
