<html>
  <body>

<div data-template-type="html" class="ui-sortable">
  <center>
  <table
  data-group="Navigations"
  data-module="Navigation 1"
  border="0"
  width="100%"
  align="center"
  cellpadding="0"
  cellspacing="0"
  style="width: 100%; max-width: 100%"
>
  <tbody>
    <tr>
      <td
        data-bgcolor="Outer Bgcolor"
        align="center"
        valign="middle"
        bgcolor="#F1F1F1"
        style="background-color: #f1f1f1"
      >
        <table
          border="0"
          width="600"
          align="center"
          cellpadding="0"
          cellspacing="0"
          class="row"
          style="width: 600px; max-width: 600px"
        >
          <tbody>
            <tr>
              <td
                data-bgcolor="Inner Bgcolor"
                align="center"
                bgcolor="#000"
                style="background-color: #000"
              >
                <table
                  border="0"
                  width="520"
                  align="center"
                  cellpadding="0"
                  cellspacing="0"
                  class="row"
                  style="width: 520px; max-width: 520px"
                >
                  <tbody>
                    <tr>
                      <td align="center" class="container-padding">
                        <table
                          border="0"
                          width="100%"
                          cellpadding="0"
                          cellspacing="0"
                          align="center"
                          style="width: 100%; max-width: 100%"
                        >
                          <tbody>
                            <tr>
                              <td
                                data-resizable-height=""
                                style="
                                  font-size: 60px;
                                  height: 60px;
                                  line-height: 60px;
                                "
                                class="spacer-first ui-resizable"
                              >
                                &nbsp;
                                <div
                                  class="ui-resizable-handle ui-resizable-s"
                                  style="z-index: 90"
                                ></div>
                              </td>
                            </tr>
                            <tr>
                              <td
                                height="45"
                                align="center"
                                valign="middle"
                                class="autoheight"
                              >
                                <a
                                  href="https://yeerlo.com"
                                  style="text-decoration: none; border: 0px"
                                  ><img
                                    src="https://pub-e2d9929e46e1478b844cf73ec6d50278.r2.dev/logo.png"
                                    width="130"
                                    border="0"
                                    style="
                                      height: 50px;
                                      width: 50px;
                                      /* width: 200px; */
                                      border: 0px;
                                      display: inline-block !important;
                                    "
                                /></a>
                              </td>
                            </tr>
                            <tr>
                              <td
                                data-resizable-height=""
                                style="
                                  font-size: 30px;
                                  height: 30px;
                                  line-height: 30px;
                                "
                                class="ui-resizable"
                              >
                                &nbsp;
                                <div
                                  class="ui-resizable-handle ui-resizable-s"
                                  style="z-index: 90"
                                ></div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table
  data-group="Titles"
  data-module="Title 2"
  border="0"
  width="100%"
  align="center"
  cellpadding="0"
  cellspacing="0"
  style="width: 100%; max-width: 100%"
>
  <tbody>
    <tr>
      <td
        data-bgcolor="Outer Bgcolor"
        align="center"
        valign="middle"
        bgcolor="#F1F1F1"
        style="background-color: #f1f1f1"
      >
        <table
          border="0"
          width="600"
          align="center"
          cellpadding="0"
          cellspacing="0"
          class="row"
          style="width: 600px; max-width: 600px"
        >
          <tbody>
            <tr>
              <td
                data-bgcolor="Inner Bgcolor"
                align="center"
                bgcolor="#000"
                style="background-color: #000"
              >
                <table
                  border="0"
                  width="520"
                  align="center"
                  cellpadding="0"
                  cellspacing="0"
                  class="row"
                  style="width: 520px; max-width: 520px"
                >
                  <tbody>
                    <tr>
                      <td align="center" class="container-padding">
                        <table
                          border="0"
                          width="100%"
                          cellpadding="0"
                          cellspacing="0"
                          align="center"
                          style="width: 100%; max-width: 100%"
                        >
                          <tbody>
                            <tr>
                              <td
                                data-resizable-height=""
                                style="
                                  font-size: 30px;
                                  height: 30px;
                                  line-height: 30px;
                                "
                                class="spacer-first ui-resizable"
                              >
                                &nbsp;
                                <div
                                  class="ui-resizable-handle ui-resizable-s"
                                  style="z-index: 90"
                                ></div>
                              </td>
                            </tr>
                            <tr>
                              <td
                                data-text="Header Title"
                                data-font="Primary"
                                align="center"
                                valign="middle"
                                class="br-mobile-none"
                                style="
                                  font-family: 'Poppins', sans-serif;
                                  color: #ffffff;
                                  font-size: 38px;
                                  line-height: 48px;
                                  font-weight: 400;
                                  letter-spacing: 0px;
                                "
                                
                                data-gramm="false"
                              >
                                Welcome Aboard!
                              </td>
                            </tr>
                            <tr>
                              <td
                                data-resizable-height=""
                                style="
                                  font-size: 15px;
                                  height: 15px;
                                  line-height: 15px;
                                "
                                class="ui-resizable"
                              >
                                &nbsp;
                                <div
                                  class="ui-resizable-handle ui-resizable-s"
                                  style="z-index: 90"
                                ></div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table
  data-group="Headers"
  data-module="Header 1"
  border="0"
  width="100%"
  align="center"
  cellpadding="0"
  cellspacing="0"
  style="width: 100%; max-width: 100%"
>
  <tbody>
    <tr>
      <td
        data-bgcolor="Outer Bgcolor"
        align="center"
        valign="middle"
        bgcolor="#F1F1F1"
        style="background-color: #f1f1f1"
      >
        <table
          border="0"
          width="600"
          align="center"
          cellpadding="0"
          cellspacing="0"
          class="row"
          style="width: 600px; max-width: 600px"
        >
          <tbody>
            <tr>
              <td
                data-bgcolor="Inner Bgcolor"
                align="center"
                bgcolor="#000"
                style="background-color: #000"
              >
                <table
                  border="0"
                  width="100%"
                  cellpadding="0"
                  cellspacing="0"
                  align="center"
                  style="width: 100%; max-width: 100%"
                >
                  <tbody>
                    <tr>
                      <td align="center">
                        <table
                          border="0"
                          width="100%"
                          cellpadding="0"
                          cellspacing="0"
                          align="center"
                          style="width: 100%; max-width: 100%"
                        >
                          <tbody>
                            <tr>
                              <td
                                align="center"
                                valign="middle"
                                class="img-responsive"
                              >
                                <img
                                  data-image="Hero Img"
                                  src="https://res.cloudinary.com/dejo7ucms/image/upload/v1656184933/Yeerlo/Email%20Template%20Images/hero_subscription-confirmation_e80d6n.png"
                                  border="0"
                                  width="600"
                                  alt="Header"
                                  style="
                                    display: inline-block !important;
                                    border: 0;
                                    width: 600px;
                                    max-width: 600px;
                                  "
                                />
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table
  data-group="Contents"
  data-module="Content 11"
  border="0"
  width="100%"
  align="center"
  cellpadding="0"
  cellspacing="0"
  style="width: 100%; max-width: 100%"
>
  <tbody>
    <tr>
      <td
        data-bgcolor="Outer Bgcolor"
        align="center"
        valign="middle"
        bgcolor="#F1F1F1"
        style="background-color: #f1f1f1"
      >
        <table
          border="0"
          width="600"
          align="center"
          cellpadding="0"
          cellspacing="0"
          class="row"
          style="width: 600px; max-width: 600px"
        >
          <tbody>
            <tr>
              <td
                data-bgcolor="Inner Bgcolor"
                align="center"
                bgcolor="#FFFFFF"
                style="background-color: #ffffff"
              >
                <table
                  border="0"
                  width="520"
                  align="center"
                  cellpadding="0"
                  cellspacing="0"
                  class="row"
                  style="width: 520px; max-width: 520px"
                >
                  <tbody>
                    <tr>
                      <td align="center" class="container-padding">
                        <table
                          border="0"
                          width="100%"
                          cellpadding="0"
                          cellspacing="0"
                          align="center"
                          style="width: 100%; max-width: 100%"
                        >
                          <tbody>
                            <tr>
                              <td
                                data-resizable-height=""
                                style="
                                  font-size: 30px;
                                  height: 30px;
                                  line-height: 30px;
                                "
                                class="spacer-first ui-resizable"
                              >
                                &nbsp;
                                <div
                                  class="ui-resizable-handle ui-resizable-s"
                                  style="z-index: 90"
                                ></div>
                              </td>
                            </tr>
                            <tr>
                              <td
                                data-text="Title"
                                data-font="Primary"
                                align="left"
                                valign="middle"
                                style="
                                  font-family: 'Poppins', sans-serif;
                                  color: #191919;
                                  font-size: 18px;
                                  line-height: 28px;
                                  font-weight: 600;
                                  letter-spacing: 0px;
                                  padding: 0px;
                                  padding-bottom: 20px;
                                "
                                
                                data-gramm="false"
                              >
                                Hi %name%,
                              </td>
                            </tr>
                            <tr>
                              <td
                                data-text="Description"
                                data-font="Primary"
                                align="left"
                                valign="middle"
                                style="
                                  font-family: 'Poppins', sans-serif;
                                  color: #595959;
                                  font-size: 16px;
                                  line-height: 26px;
                                  font-weight: 400;
                                  letter-spacing: 0px;
                                  padding: 0px;
                                  padding-bottom: 40px;
                                "
                                
                                data-gramm="false"
                              >
                                Thank you for joining the largest community of crypto traders! <br>
                                We are happy to have you onboard.<br>
                                Now, you can start trading your digital assets on CryptoDemo, with ease
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<table data-group="Contents" data-module="Content 7" border="0" width="100%" align="center" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 100%">
  <tbody>
    <tr>
      <td data-bgcolor="Outer Bgcolor" align="center" valign="middle" bgcolor="#F1F1F1" style="background-color: #f1f1f1">
        <table border="0" width="600" align="center" cellpadding="0" cellspacing="0" class="row" style="width: 600px; max-width: 600px">
          <tbody>
            <tr>
              <td data-bgcolor="Inner Bgcolor" align="center" bgcolor="#FFFFFF" style="background-color: #ffffff">
                <table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="row" style="width: 520px; max-width: 520px">
                  <tbody>
                    <tr>
                      <td align="center" class="container-padding">
                        <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width: 100%; max-width: 100%">
                          <tbody>
                            <tr>
                              <td data-resizable-height="" style="
                                  font-size: 15px;
                                  height: 15px;
                                  line-height: 15px;
                                ">
                                &nbsp;
                              </td>
                            </tr>
                            <tr>
                              <td data-text="Section Title" data-font="Primary" align="left" valign="middle" class="center-text" style="
                                  font-family: 'Poppins', sans-serif;
                                  color: #191919;
                                  font-size: 20px;
                                  line-height: 30px;
                                  font-weight: 600;
                                  letter-spacing: 0px;
                                " data-gramm="false">
                                Some Important Key Features Available For You
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<table data-group="Dividers" data-module="Divider 1" border="0" width="100%" align="center" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 100%">
  <tbody>
    <tr>
      <td data-bgcolor="Outer Bgcolor" align="center" valign="middle" bgcolor="#F1F1F1" style="background-color: #f1f1f1">
        <table border="0" width="600" align="center" cellpadding="0" cellspacing="0" class="row" style="width: 600px; max-width: 600px">
          <tbody>
            <tr>
              <td data-bgcolor="Inner Bgcolor" align="center" bgcolor="#FFFFFF" style="background-color: #ffffff">
                <table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="row" style="width: 520px; max-width: 520px">
                  <tbody>
                    <tr>
                      <td align="center" class="container-padding">
                        <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width: 100%; max-width: 100%">
                          <tbody>
                            <tr>
                              <td data-resizable-height="" style="
                                  font-size: 15px;
                                  height: 15px;
                                  line-height: 15px;
                                ">
                                &nbsp;
                              </td>
                            </tr>
                            <tr>
                              <td data-shape-divider="Divider" style="
                                  background-color: #f1f1f1;
                                  font-size: 1px;
                                  height: 1px;
                                  line-height: 1px;
                                ">
                                &nbsp;
                              </td>
                            </tr>
                            <tr>
                              <td data-resizable-height="" style="
                                  font-size: 15px;
                                  height: 15px;
                                  line-height: 15px;
                                ">
                                &nbsp;
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<table data-group="Services" data-module="Service 1" border="0" width="100%" align="center" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 100%">
  <tbody>
    <tr>
      <td data-bgcolor="Body Bgcolor" align="center" valign="middle" bgcolor="#F1F1F1" style="background-color: #f1f1f1">
        <table border="0" width="600" align="center" cellpadding="0" cellspacing="0" class="row" style="width: 600px; max-width: 600px">
          <tbody>
            <tr>
              <td data-bgcolor="Bgcolor" align="center" bgcolor="#FFFFFF" style="background-color: #ffffff">
                <table width="520" border="0" cellpadding="0" cellspacing="0" align="center" class="row" style="width: 520px; max-width: 520px">
                  <tbody>
                    <tr>
                      <td align="center" class="container-padding">
                        <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width: 100%; max-width: 100%">
                          <tbody>
                            <tr>
                              <td data-resizable-height="" style="
                                  font-size: 15px;
                                  height: 15px;
                                  line-height: 15px;
                                ">
                                &nbsp;
                              </td>
                            </tr>
                            <tr>
                              <td align="center" valign="middle">
                                <table width="80" border="0" cellpadding="0" cellspacing="0" align="left" class="row" style="width: 80px; max-width: 80px">
                                  <tbody>
                                    <tr>
                                      <td align="center" valign="middle">
                                        <img data-image="Icon 1" src="https://res.cloudinary.com/dejo7ucms/image/upload/v1657539963/Yeerlo/Email%20Template%20Images/icon_img-36_ecitlq.png" width="80" border="0" alt="icon" style="
                                            width: 80px;
                                            border: 0px;
                                            display: inline !important;
                                          ">
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table width="20" border="0" cellpadding="0" cellspacing="0" align="left" class="row" style="width: 20px; max-width: 20px">
                                  <tbody>
                                    <tr>
                                      <td valign="middle" align="center" height="20"></td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table width="420" border="0" cellpadding="0" cellspacing="0" align="left" class="row" style="width: 420px; max-width: 420px">
                                  <tbody>
                                    <tr>
                                      <td data-text="Title" data-font="Primary" align="left" valign="middle" class="center-text" style="
                                          font-family: 'Poppins', sans-serif;
                                          color: #191919;
                                          font-size: 18px;
                                          line-height: 28px;
                                          font-weight: 600;
                                          letter-spacing: 0px;
                                          padding: 0px;
                                          padding-bottom: 5px;
                                        " data-gramm="false">
                                        HODL your assets on CryptoDemo
                                      </td>
                                    </tr>
                                    <tr>
                                      <td data-text="Description" data-font="Primary" align="left" valign="middle" class="center-text" style="
                                          font-family: 'Poppins', sans-serif;
                                          color: #595959;
                                          font-size: 14px;
                                          line-height: 24px;
                                          font-weight: 400;
                                          letter-spacing: 0px;
                                        " data-gramm="false">
                                        Event management just got easier! <br> 
                                        Create, manage and earn from your outdoor events, cinema movie shows, 
                                        virtual meetings with Zoom, Webex or Google Meet (for tutors),
                                        and appointment bookings, with ease
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td data-resizable-height="" style="
                                  font-size: 15px;
                                  height: 15px;
                                  line-height: 15px;
                                ">
                                &nbsp;
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<table data-group="Services" data-module="Service 1" border="0" width="100%" align="center" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 100%">
  <tbody>
    <tr>
      <td data-bgcolor="Body Bgcolor" align="center" valign="middle" bgcolor="#F1F1F1" style="background-color: #f1f1f1">
        <table border="0" width="600" align="center" cellpadding="0" cellspacing="0" class="row" style="width: 600px; max-width: 600px">
          <tbody>
            <tr>
              <td data-bgcolor="Bgcolor" align="center" bgcolor="#FFFFFF" style="background-color: #ffffff">
                <table width="520" border="0" cellpadding="0" cellspacing="0" align="center" class="row" style="width: 520px; max-width: 520px">
                  <tbody>
                    <tr>
                      <td align="center" class="container-padding">
                        <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width: 100%; max-width: 100%">
                          <tbody>
                            <tr>
                              <td data-resizable-height="" style="
                                  font-size: 15px;
                                  height: 15px;
                                  line-height: 15px;
                                ">
                                &nbsp;
                              </td>
                            </tr>
                            <tr>
                              <td align="center" valign="middle">
                                <table width="80" border="0" cellpadding="0" cellspacing="0" align="left" class="row" style="width: 80px; max-width: 80px">
                                  <tbody>
                                    <tr>
                                      <td align="center" valign="middle">
                                        <img data-image="Icon 2" src="https://res.cloudinary.com/dejo7ucms/image/upload/v1657539960/Yeerlo/Email%20Template%20Images/icon_img-37_wjae5p.png" width="80" border="0" alt="icon" style="
                                            width: 80px;
                                            border: 0px;
                                            display: inline !important;
                                          ">
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table width="20" border="0" cellpadding="0" cellspacing="0" align="left" class="row" style="width: 20px; max-width: 20px">
                                  <tbody>
                                    <tr>
                                      <td valign="middle" align="center" height="20"></td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table width="420" border="0" cellpadding="0" cellspacing="0" align="left" class="row" style="width: 420px; max-width: 420px">
                                  <tbody>
                                    <tr>
                                      <td data-text="Title" data-font="Primary" align="left" valign="middle" class="center-text" style="
                                          font-family: 'Poppins', sans-serif;
                                          color: #191919;
                                          font-size: 18px;
                                          line-height: 28px;
                                          font-weight: 600;
                                          letter-spacing: 0px;
                                          padding: 0px;
                                          padding-bottom: 5px;
                                        " data-gramm="false">
                                        Enjoy very low transaction fees
                                      </td>
                                    </tr>
                                    <tr>
                                      <td data-text="Description" data-font="Primary" align="left" valign="middle" class="center-text" style="
                                          font-family: 'Poppins', sans-serif;
                                          color: #595959;
                                          font-size: 14px;
                                          line-height: 24px;
                                          font-weight: 400;
                                          letter-spacing: 0px;
                                        " data-gramm="false">
                                          Experience seamless ticket booking with our user-friendly app. <br>
                                          Transform your device into a convenient ticket pouch, allowing you to effortlessly secure your 
                                          seats for events, movie shows, and more. <br>
                                          Say goodbye to paper tickets and hello to the future of easy, accessible booking.
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td data-resizable-height="" style="
                                  font-size: 15px;
                                  height: 15px;
                                  line-height: 15px;
                                ">
                                &nbsp;
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<table data-group="Services" data-module="Service 1" border="0" width="100%" align="center" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 100%">
  <tbody>
    <tr>
      <td data-bgcolor="Body Bgcolor" align="center" valign="middle" bgcolor="#F1F1F1" style="background-color: #f1f1f1">
        <table border="0" width="600" align="center" cellpadding="0" cellspacing="0" class="row" style="width: 600px; max-width: 600px">
          <tbody>
            <tr>
              <td data-bgcolor="Bgcolor" align="center" bgcolor="#FFFFFF" style="background-color: #ffffff">
                <table width="520" border="0" cellpadding="0" cellspacing="0" align="center" class="row" style="width: 520px; max-width: 520px">
                  <tbody>
                    <tr>
                      <td align="center" class="container-padding">
                        <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width: 100%; max-width: 100%">
                          <tbody>
                            <tr>
                              <td data-resizable-height="" style="
                                  font-size: 15px;
                                  height: 15px;
                                  line-height: 15px;
                                ">
                                &nbsp;
                              </td>
                            </tr>
                            <tr>
                              <td align="center" valign="middle">
                                <table width="80" border="0" cellpadding="0" cellspacing="0" align="left" class="row" style="width: 80px; max-width: 80px">
                                  <tbody>
                                    <tr>
                                      <td align="center" valign="middle">
                                        <img data-image="Icon 3" src="https://res.cloudinary.com/dejo7ucms/image/upload/v1657539957/Yeerlo/Email%20Template%20Images/icon_img-38_wii8lj.png" width="80" border="0" alt="icon" style="
                                            width: 80px;
                                            border: 0px;
                                            display: inline !important;
                                          ">
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table width="20" border="0" cellpadding="0" cellspacing="0" align="left" class="row" style="width: 20px; max-width: 20px">
                                  <tbody>
                                    <tr>
                                      <td valign="middle" align="center" height="20"></td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table width="420" border="0" cellpadding="0" cellspacing="0" align="left" class="row" style="width: 420px; max-width: 420px">
                                  <tbody>
                                    <tr>
                                      <td data-text="Title" data-font="Primary" align="left" valign="middle" class="center-text" style="
                                          font-family: 'Poppins', sans-serif;
                                          color: #191919;
                                          font-size: 18px;
                                          line-height: 28px;
                                          font-weight: 600;
                                          letter-spacing: 0px;
                                          padding: 0px;
                                          padding-bottom: 5px;
                                        " data-gramm="false">
                                        Buy and Sell on the P2P marketplace
                                      </td>
                                    </tr>
                                    <tr>
                                      <td data-text="Description" data-font="Primary" align="left" valign="middle" class="center-text" style="
                                          font-family: 'Poppins', sans-serif;
                                          color: #595959;
                                          font-size: 14px;
                                          line-height: 24px;
                                          font-weight: 400;
                                          letter-spacing: 0px;
                                        " data-gramm="false">
                                          Easily integrate and embed events on your site with the Yeerlo API & SDKs.
                                          Simplify event management and enhance user experience effortlessly.<br>
                                          Get started today at 
                                          <a href="https://yeerlo.com/services/api" style="color: #000;font-weight: bold;">Yeerlo API & SDKs</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td data-resizable-height="" style="
                                  font-size: 15px;
                                  height: 15px;
                                  line-height: 15px;
                                ">
                                &nbsp;
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<table data-group="Dividers" data-module="Divider 1" border="0" width="100%" align="center" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 100%">
  <tbody>
    <tr>
      <td data-bgcolor="Outer Bgcolor" align="center" valign="middle" bgcolor="#F1F1F1" style="background-color: #f1f1f1">
        <table border="0" width="600" align="center" cellpadding="0" cellspacing="0" class="row" style="width: 600px; max-width: 600px">
          <tbody>
            <tr>
              <td data-bgcolor="Inner Bgcolor" align="center" bgcolor="#FFFFFF" style="background-color: #ffffff">
                <table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="row" style="width: 520px; max-width: 520px">
                  <tbody>
                    <tr>
                      <td align="center" class="container-padding">
                        <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width: 100%; max-width: 100%">
                          <tbody>
                            <tr>
                              <td data-resizable-height="" style="
                                  font-size: 15px;
                                  height: 15px;
                                  line-height: 15px;
                                ">
                                &nbsp;
                              </td>
                            </tr>
                            <tr>
                              <td data-shape-divider="Divider" style="
                                  background-color: #f1f1f1;
                                  font-size: 1px;
                                  height: 1px;
                                  line-height: 1px;
                                ">
                                &nbsp;
                              </td>
                            </tr>
                            <tr>
                              <td data-resizable-height="" style="
                                  font-size: 20px;
                                  height: 20px;
                                  line-height: 20px;
                                ">
                                &nbsp;
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<table data-group="Call To Actions" data-module="Call To Action 1" border="0" width="100%" align="center" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 100%">
  <tbody>
    <tr>
      <td data-bgcolor="Outer Bgcolor" align="center" valign="middle" bgcolor="#F1F1F1" style="background-color: #f1f1f1">
        <table border="0" width="600" align="center" cellpadding="0" cellspacing="0" class="row" style="width: 600px; max-width: 600px">
          <tbody>
            <tr>
              <td data-bgcolor="Inner Bgcolor" align="center" bgcolor="#FFFFFF" style="background-color: #ffffff">
                <table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="row" style="width: 520px; max-width: 520px">
                  <tbody>
                    <tr>
                      <td align="center" class="container-padding">
                        <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width: 100%; max-width: 100%">
                          <tbody>
                            <tr>
                              <td data-resizable-height="" style="
                                  font-size: 30px;
                                  height: 30px;
                                  line-height: 30px;
                                ">
                                &nbsp;
                              </td>
                            </tr>
                            <tr>
                              <td data-text="Title" data-font="Primary" align="center" valign="middle" style="
                                  font-family: 'Poppins', sans-serif;
                                  color: #191919;
                                  font-size: 20px;
                                  line-height: 30px;
                                  font-weight: 600;
                                  letter-spacing: 0px;
                                  padding: 0px;
                                  padding-bottom: 20px;
                                " data-gramm="false">
                                What Are You Waiting For?
                              </td>
                            </tr>
                            <tr>
                              <td data-text="Description" data-font="Primary" align="center" valign="middle" style="
                                  font-family: 'Poppins', sans-serif;
                                  color: #595959;
                                  font-size: 16px;
                                  line-height: 26px;
                                  font-weight: 400;
                                  letter-spacing: 0px;
                                  padding: 0px;
                                  padding-bottom: 20px;
                                " data-gramm="false">
                                Start trading with CryptoDemo today.
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<table data-group="Buttons" data-module="Button 1" border="0" width="100%" align="center" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 100%">
  <tbody>
    <tr>
      <td data-bgcolor="Outer Bgcolor" align="center" valign="middle" bgcolor="#F1F1F1" style="background-color: #f1f1f1">
        <table border="0" width="600" align="center" cellpadding="0" cellspacing="0" class="row" style="width: 600px; max-width: 600px">
          <tbody>
            <tr>
              <td data-bgcolor="Inner Bgcolor" align="center" bgcolor="#FFFFFF" style="background-color: #ffffff">
                <table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="row" style="width: 520px; max-width: 520px">
                  <tbody>
                    <tr>
                      <td align="center" class="container-padding">
                        <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width: 100%; max-width: 100%">
                          <tbody>
                            <tr>
                              <td align="center" valign="middle">
                                <table border="0" align="center" cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td data-btn="Button" align="center" style="
                                          background-color: #000;
                                          display: block;
                                          mso-padding-alt: 16px 60px 16px
                                            60px;
                                          border-radius: 4px;
                                        ">
                                        <a data-font="Primary" href="https://yeerlo.com" style="
                                            color: #ffffff;
                                            font-family: 'Poppins',
                                              sans-serif;
                                            font-size: 14px;
                                            font-weight: 600;
                                            letter-spacing: 0.5px;
                                            line-height: 24px;
                                            display: block;
                                            padding: 16px 60px 16px 60px;
                                            text-decoration: none;
                                            white-space: nowrap;
                                          ">Trade Today!</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td data-resizable-height="" style="
                                  font-size: 20px;
                                  height: 20px;
                                  line-height: 20px;
                                ">
                                &nbsp;
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<table
  data-group="Dividers"
  data-module="Divider 1"
  border="0"
  width="100%"
  align="center"
  cellpadding="0"
  cellspacing="0"
  style="width: 100%; max-width: 100%"
>
  <tbody>
    <tr>
      <td
        data-bgcolor="Outer Bgcolor"
        align="center"
        valign="middle"
        bgcolor="#F1F1F1"
        style="background-color: #f1f1f1"
      >
        <table
          border="0"
          width="600"
          align="center"
          cellpadding="0"
          cellspacing="0"
          class="row"
          style="width: 600px; max-width: 600px"
        >
          <tbody>
            <tr>
              <td
                data-bgcolor="Inner Bgcolor"
                align="center"
                bgcolor="#FFFFFF"
                style="background-color: #ffffff"
              >
                <table
                  border="0"
                  width="520"
                  align="center"
                  cellpadding="0"
                  cellspacing="0"
                  class="row"
                  style="width: 520px; max-width: 520px"
                >
                  <tbody>
                    <tr>
                      <td align="center" class="container-padding">
                        <table
                          border="0"
                          width="100%"
                          cellpadding="0"
                          cellspacing="0"
                          align="center"
                          style="width: 100%; max-width: 100%"
                        >
                          <tbody>
                            <tr>
                              <td
                                data-resizable-height=""
                                style="
                                  font-size: 15px;
                                  height: 15px;
                                  line-height: 15px;
                                "
                                class="spacer-first ui-resizable"
                              >
                                &nbsp;
                                <div
                                  class="ui-resizable-handle ui-resizable-s"
                                  style="z-index: 90"
                                ></div>
                              </td>
                            </tr>
                            <tr>
                              <td
                                data-shape-divider="Divider"
                                style="
                                  background-color: #f1f1f1;
                                  font-size: 1px;
                                  height: 1px;
                                  line-height: 1px;
                                "
                              >
                                &nbsp;
                              </td>
                            </tr>
                            <tr>
                              <td
                                data-resizable-height=""
                                style="
                                  font-size: 15px;
                                  height: 15px;
                                  line-height: 15px;
                                "
                                class="ui-resizable"
                              >
                                &nbsp;
                                <div
                                  class="ui-resizable-handle ui-resizable-s"
                                  style="z-index: 90"
                                ></div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table
  data-group="Contents"
  data-module="Content 10"
  border="0"
  width="100%"
  align="center"
  cellpadding="0"
  cellspacing="0"
  style="width: 100%; max-width: 100%"
>
  <tbody>
    <tr>
      <td
        data-bgcolor="Outer Bgcolor"
        align="center"
        valign="middle"
        bgcolor="#F1F1F1"
        style="background-color: #f1f1f1"
      >
        <table
          border="0"
          width="600"
          align="center"
          cellpadding="0"
          cellspacing="0"
          class="row"
          style="width: 600px; max-width: 600px"
        >
          <tbody>
            <tr>
              <td
                data-bgcolor="Inner Bgcolor"
                align="center"
                bgcolor="#FFFFFF"
                style="background-color: #ffffff"
              >
                <table
                  border="0"
                  width="520"
                  align="center"
                  cellpadding="0"
                  cellspacing="0"
                  class="row"
                  style="width: 520px; max-width: 520px"
                >
                  <tbody>
                    <tr>
                      <td align="center" class="container-padding">
                        <table
                          border="0"
                          width="100%"
                          cellpadding="0"
                          cellspacing="0"
                          align="center"
                          style="width: 100%; max-width: 100%"
                        >
                          <tbody>
                            <tr>
                              <td
                                data-resizable-height=""
                                style="
                                  font-size: 15px;
                                  height: 15px;
                                  line-height: 15px;
                                "
                                class="spacer-first ui-resizable"
                              >
                                &nbsp;
                                <div
                                  class="ui-resizable-handle ui-resizable-s"
                                  style="z-index: 90"
                                ></div>
                              </td>
                            </tr>
                            <tr>
                              <td
                                data-text="Description"
                                data-font="Primary"
                                align="left"
                                valign="middle"
                                style="
                                  font-family: 'Poppins', sans-serif;
                                  color: #595959;
                                  font-size: 16px;
                                  line-height: 26px;
                                  font-weight: 400;
                                  letter-spacing: 0px;
                                "
                              >
                                You’re receiving this email because you just joined the CryptoDemo ecosystem.
                              </td>
                            </tr>
                            <tr>
                              <td
                                data-resizable-height=""
                                style="
                                  font-size: 30px;
                                  height: 30px;
                                  line-height: 30px;
                                "
                                class="ui-resizable"
                              >
                                &nbsp;
                                <div
                                  class="ui-resizable-handle ui-resizable-s"
                                  style="z-index: 90"
                                ></div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
   